*{
  font-family: 'Poppins', sans-serif;
}
button{
  background-color: #2e3239;
  color: black;
  position: relative;
  padding: 5px 20px;
  margin: 5px 0;
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: all 0.6s;
}


button:hover{
  transform: scale(1.05);
  background-color: #5f7adb;
}
#car-container{
  background-color: #daa520;
  border: 2px solid black;
  border: none;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  padding: 50px;
  text-align: center;
  color: white;
}
#car-container input{
  color: whitesmoke;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  border-radius: 50px;
  background: #daa520;
  box-shadow:  5px 5px 10px #b98c1b,
               -5px -5px 10px #fbbe25;
}
#car-container button{
  background-color: khaki;
  width: 190px;
}